[Unit]
Description=ddnspod service
After=network.target syslog.target

[Service]
Type=simple
User=zhu
ExecStart=/usr/bin/bash /home/zhu/script/ddnspod.sh
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target