[Unit]
Description=hass service

[Service]
Type=simple
User=zhu
ExecStart=/usr/bin/python /home/zhu/script/fan.py
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target