[Unit]
Description=hass service
After=network.target syslog.target

[Service]
Type=simple
User=unique
ExecStart=/home/unique/.local/bin/hass -c /home/unique/.homeassistant
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target