<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>shome customize</title>
  </head>
  <body>
    <form action="/" method="POST" style="height: 100%">
      <!-- 这里需要注意缩进 -->
      <textarea name="user_ip">
{% for n in userip %}{{ n }}
{% endfor %}</textarea
      >
      <!-- 这里需要注意缩进 -->
      <input type="submit" value="更新" />
    </form>
    <br />
    <img src="{{ url_for('video_pull') }}" />
  </body>
</html>
